.list-container {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1rem;
  background: #fff;
  height: 100%;
}

.scrollable-list {
  max-height: 400px;
  overflow-y: auto;
}

.part-item {
  font-weight: 500;
}

.part-battery {
  background-color: #e6f0ff;
  /* bleu clair */
}

.part-motor {
  background-color: #d9ecff;
  /* bleu un peu plus foncé */
}

.part-controller {
  background-color: #d4edda;
  /* vert clair */
}

.part-vision {
  background-color: #f0f4ff;
  /* bleu pâle */
}